body{
    font-size: 1.3em;
}

.center{
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    margin: 10px 10px 10px 10px;
    width: 100%;
}

.tabs{
    padding: 0;
}

.tab{
    list-style: none;
    padding: 5px 10px 10px 8px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    float: left;
    border: 1px solid black;
    border-bottom: none;
}

.tab:hover{
    background: #eeeeee;
    cursor: pointer;
}



.tab > a{
    text-decoration: none;
    color: black;
}

.tab > a:hover{
    color: black;
}

.events-table{
    width: 100%;
    border: 1px solid black;
    table-layout: auto;
}

.active{
    background: #dddddd;
}

.events-table th{
    background: #dddddd;
    border-bottom: 1px solid black;
}

.events-tabe tr{
    border-bottom: none;
}

.events-table th, .events-table td{
    border-right: 1px solid black;
}

.events-table th, .events-table td{
    padding: 5px;
}

.events-table tbody tr:nth-child(even) {
    background-color: #eee;
}

button{
    border: 1px solid black;
    background: #fff;
    padding: 2px 17px;
    margin-left: 0px;
    font-weight: 800;
}

button:hover{
    background: #eee;
}

#add-btn{
  margin-top: 20px;
}

.edit-button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.modal-content{
    border-radius: 0;
}

input{
    margin-bottom: 10px;
}

.danger{
    background: #dd4433; 
    color: #fff;
}

.ng-invalid.ng-dirty{
    border: 2px #dd4433 solid;
}

@media (min-width: 200px) 
    and (max-width: 800px) 
    and (-webkit-min-device-pixel-ratio: 1) {
      .center{
        width:90%;
      }
}



