<!DOCTYPE HTML>
<html lang="en-US">
    <head>
	   <title> Buy and Sell Tickets: Concerts, Sports, & Theatre | Vivid Seats </title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet" href="./css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-app = "eventApp">
        <div class = "container" ng-controller="TabController as tabCtrl">
             <div class = "center" ng-controller="EventsController as eventsCtrl">
                <ul class = "tabs">
                    <li class = "tab" ng-class="{'active':tabCtrl.isTab(1)}" ng-click="tabCtrl.setTab(1)">
                        <a> All Events</a>
                    </li>
                    <li class = "tab" ng-class="{'active':tabCtrl.isTab(2)}" ng-click="tabCtrl.setTab(2)">
                        <a> Upcoming Events</a>
                    </li>
                    <li class = "tab" ng-class="{'active':tabCtrl.isTab(3)}" ng-click="tabCtrl.setTab(3)">
                        <a> Local Events</a>
                    </li>
                </ul>
                 <!--Tab1-->
                 <table ng-show="tabCtrl.isTab(1)" class="events-table">
                    <tr class="events-table-header">
                        <th>Event Name</th>
                        <th>Date</th> 
                        <th>Venue</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="event in eventsCtrl.events">
                        <td>{{event.name}}</td>
                        <td>{{event.date | date: 'MMM d ha'}}</td> 
                        <td>{{event.venue.name}}</td>
                        <td>{{event.venue.city}}</td>
                        <td>{{event.venue.state}}</td> 
                        <td class="edit-button">remove/edit</td>
                    </tr>
                </table>
                <!--Tab 2-->
                 <table ng-show="tabCtrl.isTab(2)" class="events-table">
                    <tr class="events-table-header">
                        <th>Event Name</th>
                        <th>Date</th> 
                        <th>Venue</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="event in eventsCtrl.events | filter: dateFilter()">
                        <td>{{event.name}}</td>
                        <td>{{event.date | date: 'MMM d ha'}}</td> 
                        <td>{{event.venue.name}}</td>
                        <td>{{event.venue.city}}</td>
                        <td>{{event.venue.state}}</td> 
                        <td class="edit-button">remove/edit</td>
                    </tr>
                </table>
                <!--Tab 3-->
                 <table ng-show="tabCtrl.isTab(3)" class="events-table">
                    <tr class="events-table-header">
                        <th>Event Name</th>
                        <th>Date</th> 
                        <th>Venue</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="event in eventsCtrl.events | filter: event.state = 'IL'">
                        <td>{{event.name}}</td>
                        <td>{{event.date | date: 'MMM d ha'}}</td> 
                        <td>{{event.venue.name}}</td>
                        <td>{{event.venue.city}}</td>
                        <td>{{event.venue.state}}</td> 
                        <td class="edit-button">remove/edit</td>
                    </tr>
                </table>
                <button id="add-btn" ng-click="eventsCtrl.showModal()"> Add Event </button>
                <div class="modal fade" id="add-Event-Modal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"> Add New Event</h4>
                      </div>
                      <div class="modal-body">
                        <form name="add-event-form">
                            <p> Event Information</p>
                            <input placeholder="Event Name" ng-model="eventsCtrl.newEvent.name">
                            <input placeholder="Date" type="date" id="add-event-date">
                            <input placeholder="Time" type="time" id="add-event-time">
                            <p> Venue Information</p>
                            <input placeholder="Venue Name" ng-model="eventsCtrl.newEvent.venue.name">
                            <input placeholder="Venue City" ng-model="eventsCtrl.newEvent.venue.city">
                            <select name="state" size="1" ng-model="eventsCtrl.newEvent.venue.state">
                                  <option value="AK">AK</option>
                                  <option value="AL">AL</option>
                                  <option value="AR">AR</option>
                                  <option value="AZ">AZ</option>
                                  <option value="CA">CA</option>
                                  <option value="CO">CO</option>
                                  <option value="CT">CT</option>
                                  <option value="DC">DC</option>
                                  <option value="DE">DE</option>
                                  <option value="FL">FL</option>
                                  <option value="GA">GA</option>
                                  <option value="HI">HI</option>
                                  <option value="IA">IA</option>
                                  <option value="ID">ID</option>
                                  <option value="IL" selected="selected">IL</option>
                                  <option value="IN">IN</option>
                                  <option value="KS">KS</option>
                                  <option value="KY">KY</option>
                                  <option value="LA">LA</option>
                                  <option value="MA">MA</option>
                                  <option value="MD">MD</option>
                                  <option value="ME">ME</option>
                                  <option value="MI">MI</option>
                                  <option value="MN">MN</option>
                                  <option value="MO">MO</option>
                                  <option value="MS">MS</option>
                                  <option value="MT">MT</option>
                                  <option value="NC">NC</option>
                                  <option value="ND">ND</option>
                                  <option value="NE">NE</option>
                                  <option value="NH">NH</option>
                                  <option value="NJ">NJ</option>
                                  <option value="NM">NM</option>
                                  <option value="NV">NV</option>
                                  <option value="NY">NY</option>
                                  <option value="OH">OH</option>
                                  <option value="OK">OK</option>
                                  <option value="OR">OR</option>
                                  <option value="PA">PA</option>
                                  <option value="RI">RI</option>
                                  <option value="SC">SC</option>
                                  <option value="SD">SD</option>
                                  <option value="TN">TN</option>
                                  <option value="TX">TX</option>
                                  <option value="UT">UT</option>
                                  <option value="VA">VA</option>
                                  <option value="VT">VT</option>
                                  <option value="WA">WA</option>
                                  <option value="WI">WI</option>
                                  <option value="WV">WV</option>
                                  <option value="WY">WY</option>
                            </select>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" data-dismiss="modal">Close</button>
                        <button type="button" ng-click = "eventsCtrl.addNewEvent()">Add Event</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <script src="js/event-service.js"></script>
        <script src="http://momentjs.com/downloads/moment.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="js/app.js"></script>
    </body>
</html>
